In [7]:
import pandas as pd
def csv_to_df(csv_name, source_type):
    df = pd.read_csv(csv_name)
    df['source'] = source_type
    return df
d = csv_to_df("/home/syedasamreen/syeda/2020Q4_nps_mobile.csv","mobile")
d.head(5)

  response_date  user_id  nps_rating  source
0    2020-12-29    14178           3  mobile
1    2020-10-29    33221           1  mobile
2    2020-11-01    21127          10  mobile
3    2020-12-07    42894           3  mobile
4    2020-11-26    30501           5  mobile

In [12]:
def csv_to_df1(csv_name, source_type):
    df = pd.read_csv(csv_name)
    df['source'] = email
    return df
m = csv_to_df("/home/syedasamreen/syeda/2020Q4_nps_mobile.csv","mobile")
E = csv_to_df("/home/syedasamreen/syeda/2020Q4_nps_email.csv","email")
w = csv_to_df("/home/syedasamreen/syeda/2020Q4_nps_web.csv","Web")
m_e_w = pd.concat([m,E,w])
m_e_w

     response_date  user_id  nps_rating  source
0       2020-12-29    14178           3  mobile
1       2020-10-29    33221           1  mobile
2       2020-11-01    21127          10  mobile
3       2020-12-07    42894           3  mobile
4       2020-11-26    30501           5  mobile
...            ...      ...         ...     ...
2285    2020-12-25    10656           8     Web
2286    2020-11-07    32918          10     Web
2287    2020-10-16    15667          10     Web
2288    2020-11-20    47153           7     Web
2289    2020-10-17    47071           5     Web

[6043 rows x 4 columns]

In [37]:
def check_csv(csv_name):
    with open(csv_name) as f:
        f1 = f.readline()
        if f1 == "response_date,user_id,nps_rating\n":
            return True
        else:
            return False
# check_csv("/home/syedasamreen/syeda/corrupted.csv")
print(check_csv("/home/syedasamreen/syeda/2020Q4_nps_email.csv"))

True

In [39]:
def combine_nps_csvs(csvs_dict):
    combined = pd.DataFrame()
    for csv_name,source_type in csvs_dict.items():
        if check_csv(csv_name):
            temp = csv_to_df(csv_name, source_type)
            combined = pd.concat([combined,temp])
        else:
            print(csv_name +" is not valid file")
    return combined

In [40]:
my_files = {"/home/syedasamreen/syeda/2020Q4_nps_email.csv":"email",
           "/home/syedasamreen/syeda/2020Q4_nps_mobile.csv":"mobile",
           "/home/syedasamreen/syeda/2020Q4_nps_web.csv":"web",
           "/home/syedasamreen/syeda/corrupted.csv":"social_media"}
combine_nps_csvs(my_files)

/home/syedasamreen/syeda/2020Q4_nps_email.csv is not valid file
/home/syedasamreen/syeda/2020Q4_nps_mobile.csv is not valid file
/home/syedasamreen/syeda/2020Q4_nps_web.csv is not valid file
/home/syedasamreen/syeda/corrupted.csv is not valid file

Empty DataFrame
Columns: []
Index: []

In [47]:
def csv_to_df(csv_name, source_type):
    df = pd.read_csv(csv_name)
    df['source'] = source_type
    return df
def check_csv(csv_name):
    with open(csv_name) as f:
        first_line = f.readline()
        if first_line == "response_date,user_id,nps_rating\n":
            return True
        else:
            return False
def combine_nps_csvs(csvs_dict):
    combined = pd.DataFrame()
    for csv_name, source_type in csvs_dict.items():
        if check_csv(csv_name):
            t = csv_to_df(csv_name,source_type)
            combined = pd.concat([combined,t])
        else:
            print(csv_name + " file is not valid")
    return combined
my_files = {
    "/home/syedasamreen/syeda/2020Q4_nps_email.csv":"email",
           "/home/syedasamreen/syeda/2020Q4_nps_mobile.csv":"mobile",
           "/home/syedasamreen/syeda/2020Q4_nps_web.csv":"web",
           "/home/syedasamreen/syeda/corrupted.csv":"social_media"
}
combine_nps_csvs(my_files).head(5)

/home/syedasamreen/syeda/corrupted.csv file is not valid

  response_date  user_id  nps_rating source
0    2020-11-06    11037           7  email
1    2020-12-24    34434           9  email
2    2020-12-03    49547           8  email
3    2020-10-04    13821           7  email
4    2020-10-23    29407           9  email

In [59]:
def categorize_nps(x):
    if x == 9 or x == 10:
        return 'Promotors'
    elif x == 7 or x == 8:
        return 'passive'
    elif x >= 0  or x <= 6:
        return 'detractor'
    else:
        return 'invalid'
print(categorize_nps(11))

detractor

In [58]:
def csv_to_df(csv_name, source_type):
    df = pd.read_csv(csv_name)
    df['source'] = source_type
    df['nps_group'] = df['nps_rating'].apply(categorize_nps)
    return df
csv_to_df("/home/syedasamreen/syeda/2020Q4_nps_email.csv","email")

     response_date  user_id  nps_rating source  nps_group
0       2020-11-06    11037           7  email    passive
1       2020-12-24    34434           9  email  Promotors
2       2020-12-03    49547           8  email    passive
3       2020-10-04    13821           7  email    passive
4       2020-10-23    29407           9  email  Promotors
...            ...      ...         ...    ...        ...
1947    2020-12-11    27706           9  email  Promotors
1948    2020-10-20    35876           7  email    passive
1949    2020-12-04    39929           9  email  Promotors
1950    2020-11-23    46900           6  email  detractor
1951    2020-11-06    41569           9  email  Promotors

[1952 rows x 5 columns]

In [ ]:
#ùëÅùëÉùëÜ=# of Promoter Rating - # of Detractor Ratings/Total # of Respondents‚àó100

In [63]:
def calculate_nps(nps_df):
    counts = nps_df['nps_group'].value_counts()
    detractor = counts['detractor']
    promotor = counts['Promotors']
    total = counts.sum()
    return((promotor-detractor)/total)*100

In [64]:
my_files = {
    "/home/syedasamreen/syeda/2020Q4_nps_email.csv":"email",
           "/home/syedasamreen/syeda/2020Q4_nps_mobile.csv":"mobile",
           "/home/syedasamreen/syeda/2020Q4_nps_web.csv":"web"
}
q4_nps = combine_nps_csvs(my_files)
calculate_nps(q4_nps)

9.995035578355122

In [65]:
def calculate_by_source(nps_df):
    x = nps_df.groupby(['source']).apply(calculate_nps)
    return x
calculate_by_source(q4_nps)

source
email     18.596311
mobile   -14.714048
web       22.096070
dtype: float64

In [66]:
# Copy and paste your code for the function from Task 3
def combine_nps_csvs(csvs_dict):
    """ 
    ADD DOCSTRING HERE
    """
    combined = pd.DataFrame()
    for csv_name, source_type in csvs_dict.items():
        if check_csv(csv_name):
            temp = convert_csv_to_df(csv_name, source_type)
            combined = pd.concat([combined, temp])
        else:
            print(csv_name + " is not a valid file and will not be added.")
    return combined

def calculate_nps(nps_df):
    """ 
    ADD DOCSTRING HERE
    """
    counts = nps_df['nps_group'].value_counts()
    detractor = counts['detractor']
    promotor = counts['promoter']
    total = counts.sum()
    return ((promotor-detractor)/ total) * 100

def calculate_nps_by_source(nps_df):
    """ 
    ADD DOCSTRING HERE
    """
    x = nps_df.groupby(['source']).apply(calculate_nps)
    return x